a {
  color: #fff;
  text-decoration: none;
}

.header {
  background: rgb(20, 20, 20);
  padding: 12px 8px;
  color: #fff;
}
.container {
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-link {
  transition: all 0.5s ease;
}
.nav-link:hover {
  opacity: 0.95;
}
